# ----------------------------------------
# Ignore everything
# ----------------------------------------
/*

# ----------------------------------------
# [WL]: Git Base Folders/Files
# ----------------------------------------
!/.github
!/.gitea
!*README.md
!*CHANGELOG.md
!*CONTRIBUTE.md
!*CONTRIBUTING.md

# ----------------------------------------
# [WL]: Test Folder
# ----------------------------------------
!/Tests

# ----------------------------------------
# [WL]: Manifest Folders
# ----------------------------------------
!/Manifest

# ----------------------------------------
# [WL]: Tools Folders
# ----------------------------------------
!/Tools

# ----------------------------------------
# [WL]: Gitignore File
# ----------------------------------------
!.gitignore

# ----------------------------------------
# [WL]: Docs Folder
# ----------------------------------------
!/Docs

# ----------------------------------------
# [WL]: Source Folder
# ----------------------------------------
!/src

# ----------------------------------------
# [WL]: Dist Folder
# ----------------------------------------
!/dist

# ----------------------------------------
# [WL]: Base Files
# ----------------------------------------
!*manifest.json
!*package.json
!*package-lock.json
!*rollup.config.js
!*tsconfig.json
!*versions.json
!sign.bat
!*SHA*.asc
!*SHA*.sig