[data-md-color-scheme="gistr"]
{

    --md-primary-fg-color:              #b10f52;
    --md-default-bg-color:              #111218;
    --md-tooltip-width:                 400px;
    --glow-color: hsl(186 100% 69%);

    --md-default-fg-color:              hsla(var(--md-hue),15%,90%,0.82);
    --md-default-fg-color--light:       hsla(var(--md-hue),15%,90%,0.56);
    --md-default-fg-color--lighter:     hsla(var(--md-hue),15%,90%,0.32);
    --md-default-fg-color--lightest:    hsla(var(--md-hue),15%,90%,0.12);
    --md-default-bg-color--light:       hsla(var(--md-hue),15%,14%,0.54);
    --md-default-bg-color--lighter:     hsla(var(--md-hue),15%,14%,0.26);
    --md-default-bg-color--lightest:    hsla(var(--md-hue),15%,14%,0.07);
    --md-code-fg-color:                 hsla(var(--md-hue),18%,86%,0.82);
    --md-code-bg-color:                 hsla(var(--md-hue),15%,18%,1);
    --md-code-bg-color:                 #242735;
    --md-code-hl-color:#2977ff;
    --md-code-hl-color--light:#2977ff1a;
    --md-code-hl-number-color:#e6695b;
    --md-code-hl-special-color:#f06090;
    --md-code-hl-function-color:#c973d9;
    --md-code-hl-constant-color:#9383e2;
    --md-code-hl-keyword-color:#6791e0;
    --md-code-hl-string-color:#2fb170;
    --md-code-hl-name-color:var(--md-code-fg-color);
    --md-code-hl-operator-color:var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:var(--md-default-fg-color--light);
    --md-code-hl-comment-color:var(--md-default-fg-color--light);
    --md-code-hl-generic-color:var(--md-default-fg-color--light);
    --md-code-hl-variable-color:var(--md-default-fg-color--light);
    --md-typeset-color:var(--md-default-fg-color);
    --md-typeset-a-color:                   #568afa;
    --md-typeset-kbd-color:hsla(var(--md-hue),15%,90%,0.12);
    --md-typeset-kbd-accent-color:hsla(var(--md-hue),15%,90%,0.2);
    --md-typeset-kbd-border-color:hsla(var(--md-hue),15%,14%,1);
    --md-typeset-mark-color:                    #4287ff4d;
    --md-typeset-table-color:                   hsla(var(--md-hue),15%,95%,0.12);
    --md-typeset-table-color--light:            hsla(var(--md-hue),15%,95%,0.035);
    --md-admonition-fg-color:                   var(--md-default-fg-color);
    --md-admonition-bg-color:                   var(--md-default-bg-color);
    --md-footer-bg-color:                       hsla(var( --md-hue ), 15%, 10%, 0.87 );
    --md-footer-bg-color--dark:                 hsla(var( --md-hue ), 5%, 5%, 1 );
    --md-shadow-z1:                             0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
    --md-shadow-z2:                             0 0.2rem 0.5rem #00000040,0 0 0.05rem #00000040;
    --md-shadow-z3:                             0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;

    --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>');

    /*
        Navigation > Opened
        issue with this is that the animation gets jerky when used
    */

    li.md-nav__item--nested > nav.md-nav[aria-expanded="true"]
    {
        /*padding-bottom: 10px;*/
    }

    a.md-nav__link--active
    {
        color: #ff4592;
    }

    button#mkdocs-decrypt-button svg
    {
        color: #FFFFFF;
    }

    form#mkdocs-decrypt-form > input#mkdocs-content-password + a
    {
        padding-bottom: 10px;
    }

    .md-typeset
    {
        font-size: .7rem;
        line-height: 1.6;
    }

    .md-typeset__table thead
    {
        background-color: #b10f52;
    }

    .md-typeset__table {
        min-width: 100%;
     }
     
     .md-typeset table:not([class]) {
         display: table;
     }
     

    .md-typeset__table {
        min-width: 100%;
     }

    #mkdocs-decrypt-form > input
    {
        background-color: #171a20;
        width: 100%;
    }

    .md-typeset .md-input
    {
        border-bottom: 1px solid #5875f8;
    }


    .md-typeset .admonition.pied-piper,
    .md-typeset details.pied-piper
    {
        border-color: rgb(43, 155, 70);
    }
    .md-typeset .pied-piper > .admonition-title,
    .md-typeset .pied-piper > summary
    {
        background-color: rgba(43, 155, 70, 0.1);
    }
    .md-typeset .pied-piper > .admonition-title::before,
    .md-typeset .pied-piper > summary::before
    {
        background-color: rgb(43, 155, 70);
        -webkit-mask-image: var(--md-admonition-icon--pied-piper);
        mask-image: var(--md-admonition-icon--pied-piper);
    }

    .md-typeset figcaption
    {
        font-size: 9pt;
        color: #707070;
    }
}

.md-typeset .mdx-badge svg
{
    color: #8B88EE;
}

small
{
    font-size: 60%;
}

/*
    Using favicons for navigation menu
*/

label.md-nav__link::before
{
    content: ".";
    background-color: currentColor;
    padding-right: 0.6rem;
    margin-right: 0.1rem;
    mask-position-y: 30%;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='currentColor' width='16px' height='16px'%3E%3C!-- --%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M160 384H512c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H394.5c-17 0-33.3-6.7-45.3-18.7L322.7 50.7c-12-12-28.3-18.7-45.3-18.7H160c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M24 96c13.3 0 24 10.7 24 24V344c0 48.6 39.4 88 88 88H456c13.3 0 24 10.7 24 24s-10.7 24-24 24H136C60.9 480 0 419.1 0 344V120c0-13.3 10.7-24 24-24z'%3E%3C/path%3E%3C/svg%3E");
}

li.md-nav__item--nested > a > span::before
{
    content: ".";
    background-color: currentColor;
    padding-right: 0.6rem;
    margin-right: 0.1rem;
    mask-position-y: 30%;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='currentColor' width='16px' height='16px'%3E%3C!-- --%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d='M352 0V64c0 17.7 14.3 32 32 32h64L352 0zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V376c0 75.1 60.9 136 136 136H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120z'%3E%3C/path%3E%3Cpath class='fa-secondary' d='M160 0H352V64c0 17.7 14.3 32 32 32h64V352c0 35.3-28.7 64-64 64H160c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64z'%3E%3C/path%3E%3C/svg%3E");
}

nav.md-nav > ul.md-nav__list > li.md-nav__item > a.md-nav__link > span::before
{
    content: ".";
    background-color: currentColor;
    padding-right: 0.6rem;
    margin-right: 0.1rem;
    mask-position-y: 30%;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='currentColor' width='16px' height='16px'%3E%3C!-- --%3E%3Cdefs%3E%3Cstyle%3E.fa-secondary%7Bopacity:.4%7D%3C/style%3E%3C/defs%3E%3Cpath class='fa-primary' d=''%3E%3C/path%3E%3Cpath class='fa-secondary' d='M0 256a160 160 0 1 1 320 0A160 160 0 1 1 0 256z'%3E%3C/path%3E%3C/svg%3E");
}

/*
    Table Colors
*/

.md-typeset__table > table
{
    background-color: var(--md-footer-bg-color);
}

.md-typeset__table > table > tbody > tr > td:first-child
{
    white-space: nowrap;
    background-color: var(--md-code-bg-color);
    min-width: 25%;
}

/*
    First row of table nowrap
*/

.md-typeset__table > table > thead > tr > th:first-child
{
    white-space: nowrap
}

.md-typeset__table > table > tbody > tr > td:first-child
{
    white-space: nowrap;
}

/*
    animation > glow
*/

@keyframes anim_glow
{
    0%
    {
        filter: drop-shadow( 0px 0px 5px #e9e4e6);
    }
    50%
    {
        filter: drop-shadow( 0px 0px 20px #e9e4e6);
    }
    100%
    {
        filter: drop-shadow( 0px 0px 5px #e9e4e6);
    }
}

/*
    animation > colorful link
*/

@keyframes colorful_link
{
    0%
    {
        filter: hue-rotate(0deg);
    }

    100%
    {
        filter: hue-rotate(360deg);
    }
}

/*
    animation > color hue
*/

@keyframes anim_color
{
    from
    {
        filter: hue-rotate(0deg);
    }
    to
    {
        filter: hue-rotate(360deg);
    }
}

/*
    animation > scale
*/

@keyframes anim_scale
{
    to
    {
        transform: scale( 1.4 );
    }
}

.mkde-embed-container
{
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--md-shadow-z2);
    transition: border .25s,box-shadow .25s;
    border: 2px solid #FFFFFF1A;
    background-color: var(--md-default-fg-color--lightest);
}

.mkde-embed-container:hover
{
    transition: border .25s,box-shadow .25s;
    box-shadow: var(--md-shadow-z3);
    border: 2px solid rgba( 255, 255, 255, 0.2 );
}

.mkde-left-s2 > a,
.item-link-container > a,
.item-title > a
{
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.mkde-left-s2 > a,
.item-link-container > a,
.item-title > a
{
    text-decoration: none;
    color: inherit;
    touch-action: manipulation;
}

.mkde-format-sub
{
    line-height: 1.4;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: inherit;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: inherit;
}

.mkde-format, .mkde-format-sub,
.mkde-inner
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.mkde-format
{
    line-height: 1.4;
    color: inherit;
}

@supports (-webkit-overflow-scrolling: touch)
{
    .mkde-format-sub
    {
        max-width: 100vw;
    }
}

.mkde-left,
.mkde-right
{
    overflow: hidden;
}

._sm
{
    background: inherit;
}

._lc .mkde-inner
{
    flex-direction: row;
}

._lc .mkde-right
{
    display: flex;
    flex: 1;
    align-items: center;
}

.mkde-right
{
    padding: 8px 10px;
}

@media ( min-width: 360px )
{
    .mkde-right
    {
        padding: 12px 15px;
    }
}

@media ( min-width: 600px )
{
    .mkde-right
    {
        padding: 12px 12px;
    }
}

/*
    Left container
*/

._lc._sm:not( .xd ) .mkde-left
{
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.10 );
}

@media ( min-width: 360px )
{
    ._lc._sm:not( .xd ) .mkde-left
    {
        min-width: 110px;
        width: 110px;
        min-height: 110px;
    }
}

@media (min-width: 460px)
{
    ._lc._sm:not( .xd ) .mkde-left
    {
        min-width: 140px;
        width: 140px;
        min-height: 140px;
    }
}

@media (min-width: 600px)
{
    ._lc._sm:not( .xd ) .mkde-left
    {
        min-width: 160px;
        width: 160px;
        min-height: 160px;
    }
}

@supports (-moz-appearance: meterbar) and (all: initial)
{
    ._lc .mkde-left
    {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
}

@media (max-width: 459px)
{
    ._lc .ct-r-link-t
    {
        display: none;
    }
}

@media (min-width: 460px)
{
    ._lc .ct-r-link-d
    {
        display: none;
    }
}

._lc._ts .item-title
{
    -webkit-line-clamp: 1;
}

._lc._ts._lh-4 .item-title
{
    max-height: 1.4em;
}

._lc._ts .item-desc
{
    -webkit-line-clamp: 2;
}

._lc._ts._lh-4 .item-desc
{
    max-height: 2.8em;
}

@media (min-width: 460px)
{
    ._lc._ts .item-title {
        -webkit-line-clamp: 1;
    }

    ._lc._ts._lh-4 .item-title
    {
        max-height: 1.4em;
    }

    ._lc._ts .item-desc
    {
        -webkit-line-clamp: 3;
    }

    ._lc._ts._lh-4 .item-desc
    {
        max-height: 4.2em;
    }
}

.item-desc,
.item-title
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 5px;
}

@supports (display: -webkit-box)
{
    .item-desc,
    .item-title
    {
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

.item-desc
{
    vertical-align: inherit;
}

.item-footer-format,
.item-title
{
    margin-bottom: 0.5em;
}

.item-desc
{
    margin-bottom: 0.6em;
}

.mkde-sub
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: none transparent;
    text-align: left;
}

.mkde-sub .item-footer-format:last-child
{
    margin-bottom: 0 !important;
}

.item-link-container
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding-top: 10px;
    display: contents;
    flex-direction: row;
    align-content: center;
    padding-left: 5px;
}

@media (min-width: 460px)
{
    .item-desc
    {
        margin-bottom: 0.7em;
    }
}

.mkde-right > ._ff
{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
}

._fw-n
{
    font-weight: 400;
}

._fw-b
{
    font-weight: 700;
}

._fs-n
{
    font-style: normal;
}

._lh-4
{
    line-height: 1.4;
}

._fs-x,
._fs-m
{
    font-size: 12px;
}

._f1p
{
    font-size: 13px;
}

@media ( min-width: 360px )
{
    ._fs-x
    {
        font-size: 13px;
    }

    ._f1p
    {
        font-size: 14px;
    }
}

@media ( min-width: 460px )
{
    ._fs-m
    {
        font-size: 13px;
    }

    ._fs-x
    {
        font-size: 14px;
    }

    ._f1p
    {
        font-size: 15px;
    }
}

@media ( min-width: 600px )
{
    ._fs-m
    {
        font-size: 14px;
    }

    ._fs-x
    {
        font-size: 15px;
    }

    ._f1p
    {
        font-size: 17px;
    }
}

.mkde-left-s1
{
    overflow: hidden;
    position: relative;
    width: 100%;
}

@supports ( -moz-appearance: meterbar ) and ( all: initial )
{
    ._lc .mkde-left-s1
    {
        -ms-flex: 1;
        flex: 1;
    }
}

._lc:not( ._ap ) .mkde-left-s1
{
    height: 100%;
    padding-bottom: 0;
}

/*
    Theme > Default
*/

[ data-md-color-scheme="default" ]
{
    ._lc._sm:not( .xd ) .mkde-left
    {
        background: rgba( 255, 255, 255, 1 );
    }

    .mkde-left-s2
    {
        border: 1px solid rgba( 255, 255, 255, 0.35 )
    }
}

.mkde-left-s2
{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid rgba( 255, 255, 255, 0.10 )
}

.mkde-link-favicon
{
    width: 25px;
    height: 25px;
    padding-right: 4px;
}

.mkde-img
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mkde-img
{
    display: block;
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
}

.mkde-img
{
    z-index: 3;
}

.mkde-img:hover
{
    animation: 2s colorful_link infinite;
}

.mkde-left-s1
{
    padding-bottom: 100%;
}

.mkde-format
{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.item-title
{
    color: inherit;
}

.item-footer-format
{
    color: var( --md-typeset-a-color );
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.item-link
{
    color: var( --md-typeset-a-color );
    font-size: 12px;
    padding-bottom: 6px;
}

.item-footer
{
    padding-block-start: 12px;
    padding-left: 5px;
}

.mkde-link-favicon:hover
{
    animation: anim_scale 100ms ease-in-out forwards;
}

.mkde-left-s2 > a, a.item-title-link, a.item-link
{
    color: var( --md-typeset-a-color );
}

.mkde-left-s2 > a, a.item-title-link:hover, a.item-link:hover
{
    color: var(--md-accent-fg-color);
}